* {
    box-sizing: border-box;
}

body {
    line-height: 1;
    background: url(../img/concrete_seamless.png);
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    height: 5.625rem;
}

.title {
    display: flex;
    align-items: center;
    padding: 0 1.875rem;
    background-color: rgb(74, 170, 165);
}

.title_h {
    font-size: 2.125rem;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    display: flex;
    align-items: center;
}

.navlist {
    display: flex;
    gap: 2.5rem;
}

.list a {
    font-size: 1.25rem;
    color: #a09e9e;
}

.list:nth-child(1),
.list:nth-child(2) {
    border-right: 2px solid #efefef;
    padding-right: 1rem;
}

.hamburg {
    display: none;
    border: none;
    background-color: #fff;
}


/* ********************************* */

.main_container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 3.125rem;
}

.left_cont {
    width: 500px;
    height: 100%;
    padding: 1.25rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.cont_h1 {
    font-size: 2.25rem;
    font-weight: bold;
    padding-bottom: 1.25rem;
    color: #4aaaa5;
    border-bottom: 2px solid #ccc;
    font-family: 'Times New Roman', Times, serif;
}

.imgandparag_cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.25rem;
}

.cat_img {
    width: 12.5rem;
    object-fit: cover;
}

.title_parag {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.title-p,
.title-p1 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: #999;
}

.right_contact {
    width: 17.5rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.box {
    border-bottom: 2px solid #ccc;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
}

.cont_h3 {
    font-size: 1.625rem;
    font-weight: bold;
    color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
}

.search_cont {
    padding-top: 1.25rem;
}

.search_img {
    width: 3.75rem;
    height: 3.75rem;
}


/* ************************ */

.foot {
    margin-top: 3.125rem;
    background-color: #666;
    border-top: 0.25rem solid #4aaaa5;
}

.foot_cont {
    padding: 1.875rem 0;
}

.foot_p {
    font-size: 0.875rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #999;
    word-spacing: 0.25rem;
}